body, ul, li {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #36251E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 30%;
    border-radius: 4px;
    margin-right: 10px;
}
.logo span{
    color: #fff;
}

.toggle{
    display: none;
}
.side{
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

/* Hero Section styles */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    max-height: 500px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #E6AA68;
    color: #36251E;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #D68A4D;
}

/* Menu Section styles */
.menu {
    text-align: center;
    padding: 10px 0;
}

.menu h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.menu-item {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.menu-item h3 {
    font-size: 18px;
    margin-top: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-top: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #b56816;
}

.Slider{
    position: relative;
    width:100%;
    overflow: hidden;
}

img{
    width: 70%;
    max-height: 300px;
    border-radius: 5px;
}

/* About Us Section styles */
.about {
    text-align: center;
    background-color: #F8F8F8;
    padding: 40px 0;
}

.about p {
    font-size: 18px;
    margin: 20px 0;
}

.about img {
    width: 40%;
    max-height: 300px;
    border-radius: 5px;
}

/* Blog Section styles */
.blog {
    text-align: center;
    padding: 40px 0;
}

.blog h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.blog-post {
    margin-bottom: 30px;
}

.blog-post img {
    width: 60%;
    max-height: 400px;
    border-radius: 5px;
}

.blog-post h3 {
    font-size: 22px;
    margin-top: 15px;
}

.blog-post p {
    font-size: 18px;
    margin-top: 10px;
}

.read-more-button {
    display: inline-block;
    background-color: #E6AA68;
    color: #36251E;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more-button:hover {
    background-color: #D68A4D;
}

/* Footer and Contact Section styles */

.contact {
    background-color: #8f633e;
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 70%;
}

h2 {
    text-align: center;
    color: #36251E;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #36251E;
    float: left;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #362536;
    border-radius: 5px;
    align-items: center;
}

button {
    background-color: #36251E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-media{
    width: 30%;
    text-align: start;
}
.social-media h2{
    text-align: start;
    color: #210c03;
}

.social-media a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size: 20px;
    color: #000000;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0 0 10px #000000;
}

.social-media span{
    font-size: x-large;
}

footer{
    background-color: #36251E;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    font-size: 14px;
}

footer span{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 50px;
}
footer b{
    color: #fff;
}

/* media */

@media(max-width: 767px){
    header{
        width: 100%;
        position: relative;
    }
    .logo img{
        margin-right: 5px;
    }
    .logo span{
        font-size: 10px;
    }
    .toggle{
        display: block;
        margin-left: 87px;
    }
    .side nav{
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 100px;
        padding: 15px;
    }
    .side nav ul li{
        display: block;
    }
    .side nav ul li a{
        /* font-size: 14px; */
        padding: 10px 0;
        display: block;
    }

    .search-bar input[type="text"] {
        display: block;
        width: 40%;
        padding: 4px;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
    }
    .hero {
        position: relative;
        text-align: center;
    }
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero-content {
        position: absolute;
        width: 56%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .hero h1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .hero p {
        font-size: 10px;
        margin-bottom: 5px;
    }
    
    .cta-button {
        font-size: 5px;
        display: inline-block;
        background-color: #E6AA68;
        color: #36251E;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 3px;
        transition: background-color 0.3s;
    }
    .menu{
        padding: 0;
    }
    .menu-item {
        width: 65%;
        margin-left: 59px;
        display: block;
        margin-bottom: 0;
    }
    .menu h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .Slider {
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-bottom: 5px;
    }
    .menu-item h3 {
        font-size: 10px;
        margin-top: 5px;
    }
    .menu-item p {
        font-size: 10px;
        margin-top: 0px;
    }
    .price {
        font-size: 12px;
        font-weight: bold;
        color: #b56816;
    }

    .about {
        text-align: center;
        background-color: #F8F8F8;
        padding: 10px 0;
    }
    .about h2 {
        font-size: 16px;
        text-align: center;
        color: #36251E;
    }
    .about p {
        font-size: 9px;
        margin: 10px 0;
    }
    .about img {
        width: 36%;
        max-height: 200px;
        border-radius: 5px;
    }
    .blog{
        padding: 0;
    }
    .blog h2 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .blog-post {
        margin-bottom: 15px;
    }
    .blog-post img {
        width: 50%;
        max-height: 400px;
        border-radius: 5px;
    }
    .blog-post h3 {
        font-size: 12px;
        margin-top: 7px;
    }
    .blog-post p {
        font-size: 10px;
        margin-top: 10px;
    }
    .read-more-button{
        font-size: 12px;
        padding: 5px 8px;
    }
    .contact{
        display: block;
        padding: 10px 0;
    }
    .container{
        max-width: 200px;
        padding: 20px;
    }
    .container h2{
        font-size: 15px;
    }
    .form-group{
        margin-bottom: 10px;
    }
    .form-group label{
        margin-bottom: 2px;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"], textarea {
        width: 90%;
        padding: 8px;
    }
    button{
        padding: 7px 10px;
    }
    
    .social-media{
        text-align: center;
        width: 100%;
    }
    .social-media h2 {
        text-align: center;
        font-size: 20px;
    }
    .social-media a {
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 10px;
        margin: 0px 4px 12px 0px;
    }
    .social-media span {
        font-size: small;
        text-align: center;
    }
    footer {
        background-color: #36251E;
        width: 100%;
        height: 14px;
        padding-top: 8px;
        font-size: 7px;
    }

}

